.page-header
  %h1
    Costs & Consumption
    %small March 2012

.row
  .span3
    .well
      .number= @total_kwh
      .desc kilowatt hours used
  .span3
    .well
      .number= "$#{@total_cost}"
      .desc total spent this month
  .span3
    .well
      .number= @lbs_co2
      .desc pounds of CO2 created

%table.table.table-striped
  %thead
    %tr
      %th To
      %th From
      %th Cost
      %th kWh
  %tbody
    - @costs.each do |cost|
      %tr
        %td= Date.parse(cost["@toDate"]).strftime("%A %b %d %Y %I:%M %p")
        %td= Date.parse(cost["@fromDate"]).strftime("%A %b %d %Y %I:%M %p")
        %td= cost['cost']
        %td= cost['consumption']

